<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC3plR_6cRqd6Zr94M-iZKNkg098rf4G8I</string>
	<key>GCM_SENDER_ID</key>
	<string>430646905813</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>davitikhvedelidze.Gamoitsani</string>
	<key>PROJECT_ID</key>
	<string>gamoitsani-26</string>
	<key>STORAGE_BUCKET</key>
	<string>gamoitsani-26.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:430646905813:ios:a5428d024982d4df294b5c</string>
</dict>
</plist>